@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Medium.ttf');
  font-style: bold;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  /* -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, */
  /* Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  overflow: hidden;
}
h1 {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
