---
# File : ci.yml

name: 'ci'
on:
  push:
defaults:
  run:
    shell: 'bash'
jobs:
  lint-test-build:
    name: '[ci|lint-test-build]'
    runs-on: 'ubuntu-18.04'
    steps:
      - name: '[checkout] ${{ github.repository }} project'
        uses: 'actions/checkout@v2'
        with:
          repository: '${{ github.repository }}'
      - name: '[lint]'
        run: |
          echo TBA some linting
      - name: '[test]'
        run: |
          echo TBA some testing
      - name: '[build]'
        run: |
          git config --global url."https://github.com/".insteadOf ssh://git@github.com/
          git config --global url."https://".insteadOf git://
          git config --global url."https://".insteadOf ssh://
          yarn
          yarn build
...
# End of ci.yml
